include mixins
include frameset
include head


<!DOCTYPE html>
html(lang="en")
    head
        +heads

        title Lab06


    body
        .container
            +header1

            +header2

            +bodyabout

            +footer