mixin heads
    meta(charset="UTF-8")
    meta(name="viewport",
    content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="assets/css/bootstrap.min.css")
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src="assets/js/bootstrap.min.js")

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

//-
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
-//

    link(rel='canonical', href='https://getbootstrap.com/docs/4.0/examples/blog/')
    link(href='assets/boostrap/bootstrap.min.css', rel='stylesheet')
    link(href='assets/boostrap/css', rel='stylesheet')
    link(href='assets/boostrap/blog.css', rel='stylesheet')
    link(href='assets/boostrap/cover.css', rel='stylesheet')

    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    //-script(src='//code.jquery.com/jquery-1.11.1.min.js')-//

    //-script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')-//
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')

    link(href='assets/product/product.css', rel='stylesheet')
    script(src='assets/product/product.js')

    //- *************************************************************************** -//
    link(rel='icon', href='https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico')
    link(rel='canonical', href='https://getbootstrap.com/docs/4.0/examples/floating-labels/')

    style.
      .error{
        border: 2px solid #EC7063
      }
      #error{
        border: 2px solid #EC7063
      }
      #bien{
        border: 2px solid #71CC49
      }
      .white{
        color: white
      }
      .special-card{
        background-color: rgba(245, 245, 245, 0.8);
        border-radius: 25px;
        margin: 4px;
        padding: 6px;
      }
      .card-product{
        background-color: rgba(245, 245, 245, 0.8);
        border-radius: 5px;
      }
      .responsive-card{
        border-radius: 25px;
        margin: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .miranda{
        margin-left:auto;
        margin-right:0;
        background-color: rgba(245, 245, 245, 0.8);
      }

