include mixins
include frameset
include head


<!DOCTYPE html>
html(lang="en")
    head
        +heads

        title Lab06


    body
        .container
            +header1

            +header2

            +bodyhome

            +jumbotron("Viajes a Japon", "Vuelve a soñar con tu próximo viaje y compra con tranquilidad", "Ver mas ofertas")

            +footer
