mixin jumbotron(title, paragraph, textButton)
    .jumbotron(style='background-image: url(https://i.pinimg.com/originals/c6/28/b6/c628b62b8ba8aec289c29f47253383d7.jpg);')
        h1.display-4(style='font-size: 50px; font-weight: bold;') #{title}
        p.lead(style='font-size: 20px; font-weight: 400;')
          | #{paragraph}
        hr.my-4

        a.btn.btn-primary.btn-lg(href="/product" role='button') #{textButton}

- var images = [{route:'https://i.ytimg.com/vi/d8rFgsoLkII/maxresdefault.jpg?auto=yes&bg=555&fg=333&text=First slide', active: true},{route:'https://static-b.walac.pe/wp-content/uploads/2018/04/FOTO-PAQUETES-PROMOCI%C3%93N-ESCOLAR.jpg?auto=yes&bg=555&fg=333&text=Second slide', active: false},{route:'https://www.intertur.com.mx/nuevo/img/pag.%20principal/intertur_desayunos_4.jpg?auto=yes&bg=555&fg=333&text=Third slide', active: false}];

mixin carousel
    #carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
      .carousel-inner(style='display:block; margin:auto; justify-content:center; width:50%;')
        for image in images
          if(image.active)
            .carousel-item.active
              img.d-block.w-100(src=image.route alt='First slide' style='height: 350px; width: 100%;')
          else
            .carousel-item
              img.d-block.w-100(src=image.route style='height: 350px; width: 100%;')

mixin form
  .container
    form
      .form-group
        label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
        small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
      .form-group
        label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password', placeholder='Password')
      .form-check
        input#exampleCheck1.form-check-input(type='checkbox')
        label.form-check-label(for='exampleCheck1') Check me out
      button.btn.btn-primary(type='submit') Submit

mixin form2
  .container
    form(action="/form" method="post")
      .form-group
        label(for='nombres') Nombres
        input.form-control(type='text' aria-describedby='nameHelp' placeholder='Ingresa tus nombres' name="name")
        small#nameHelp.form-text.text-muted Nunca compartiremos tus nombres con nadie más.
      .form-group
        label(for='apellidos') Apellidos
        input.form-control(type='text' aria-describedby='lastnameHelp' placeholder='Ingresa tus apellidos' name="lastname")
        small#lastnameHelp.form-text.text-muted Nunca compartiremos tus apellidos con nadie más.
      .form-group
      button.btn.btn-primary(type='submit') Submit

- var paises = [{name: '(+51) Peru'},{name: '(+56) Bolivia'},{name: '(+52) Chile'}];

mixin form3
    .container(style="padding-right: 15%; padding-left: 15%;")
      form.form-signin(action="/form" method="post")
        div(style="padding-top: 10;padding-right: 10%; padding-left: 10%")
          form.form-signin(action='')
            .text-center.mb-4
              img.mb-4(src='http://admissions.aurorak12.org/wp-content/uploads/sites/11/2018/06/Online-Student-Registration.png', alt='', width='72', height='72')
              h1.h3.mb-3.font-weight-normal Contactanos
              small.form-text.text-muted Completa este formulario para comunicarnos contigo.
            div
              .form-group
                .row
                  .col-xs-2.col-sm-6
                      input.form-control( type='text' aria-describedby='nameHelp' placeholder='Ingresa tus nombres' name="name" id=nerror value=name )
                      small#nameHelp.form-text.text-muted(style='color: #EC7063') #{nameError}
                  .col-xs-2.col-sm-6
                      input.form-control( type='text' aria-describedby='lastnameHelp' placeholder='Ingresa tus apellidos' name="lastname" id=lerror value=lastname)
                      small#lastnameHelp.form-text.text-muted(style='color: #EC7063') #{lastnameError}
              .form-group
                div
                  label(style='color:gray') Fecha de nacimiento:
                .row
                  .col-xs-2.col-sm-4
                    input.form-control(type='number' aria-describedby='dayHelp' placeholder='Dia' name="day" id=derror value=day)
                    small#dayHelp.form-text.text-muted(style='color: #EC7063') #{dayError}
                  .col-xs-2.col-sm-4
                    input.form-control(type='number' aria-describedby='monthHelp' placeholder='Mes' name="month" id=monerror value=month)
                    small#monthHelp.form-text.text-muted(style='color: #EC7063') #{monthError}
                  .col-xs-2.col-sm-4
                    input.form-control(type='number' aria-describedby='yearHelp' placeholder='Año' name="year" id=yerror value=year)
                    small#yearHelp.form-text.text-muted(style='color: #EC7063') #{yearError}
                small.form-text.text-muted Introduce tu fecha de nacimientos real.
              .form-group
                input.form-control(type='email' aria-describedby='emailHelp' placeholder='Introduce tu correo electronico' name="email" id=gerror value=email)
                small#emailHelp.form-text.text-muted(style='color: #EC7063') #{emailError}
              .form-group
                .row
                  .col-xs-2.col-sm-4
                    select.browser-default.custom-select
                      option(selected='') Pais
                      for pais in paises
                        option(value='scroll') #{pais.name}
                  .col-xs-2.col-sm-8
                    input.form-control( type='number' aria-describedby='phoneHelp' placeholder='Numero de telefono' name="phone" id=perror value=phone)
                    small#phoneHelp.form-text.text-muted(style='color: #EC7063') #{phoneError}
              .form-group
                textarea.form-control( type='text' aria-describedby='messageHelp' rows='5' placeholder='Escribe aqui tu mensaje, 150 palabras minimo' name="message" id=merror)
                  | #{message}
                small#messageHelp.form-text.text-muted(style='color: #EC7063') #{messageError}
              .form-group
                .row
                  .col-xs-2.col-sm-6
                    .checkbox.mb-3
                      label(style='color:white !important')
                        input(type='checkbox', value='remember-me')
                        |  Enviarme un respuesta por correo
                  .col-xs-2.col-sm-6(style="  text-align: right;")
                    button.btn.btn-success(type='submit') Enviar
                p.mt-5.mb-3.text-muted.text-center(style='color:white !important') Tu informacion no sera compartida con nadie mas. © 2020
//-minlength="150"-//
mixin message
    .container
      main.inner.cover(role='main' style='text-align: center; padding:20px ')
        h1.cover-heading(style='color: #71CC49') Mensaje enviado con exito!
        p.lead
          | Querido #{name} #{lastname}, gracias por elegir nuestro servivo, nosotros lo contactaremos enviando un mensaje al correo
          | #{email} o a su telefono #{phone}.
        p.lead
          a.btn.btn-lg.btn-secondary(href='/service') Volver
        //-
          p.card-text.mb-auto= name
          p.card-text.mb-auto= lastname
          p.card-text.mb-auto= name2
          p.card-text.mb-auto= lastname2
          p.card-text.mb-auto= day
          p.card-text.mb-auto= month
          p.card-text.mb-auto= year
          p.card-text.mb-auto= email
          p.card-text.mb-auto= phone
          p.card-text.mb-auto= message
        -//